<html>
    <head>
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <div id="container">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            <div id="footer">
                <span>Photo by <a href="https://unsplash.com/@peterbucks?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">peter bucks</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </div>
        </div>
    </body>
  </html>